.promo {
    border: 1px solid #e5e5e5;
    display: inline-flex;
    
    max-width: 280px;
    min-height: 350px;
    padding: 20px;
    flex-direction: column;
  }
  
  .promo--center {
    justify-content: center;
  }
  
  .promo--end {
    justify-content: flex-end;
    
  }
  
  .promo-title {
    margin: 0;